@charset "utf-8";
/* CSS Document */
p{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
	color: #FFF;
	margin-top: 200px;
	width: auto;
	height: auto;
	border: 1px solid black;
	text-align: justify;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	margin-top: 200px;
	background-color: #009;
	margin-right: auto;
	margin-left: auto;
